    <!-- Block 5 -->
    <section>
        <div class="block-5">
            <div class="plan">
                <h1>Planifiez votre succès maintenant</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas perspiciatis alias placeat,
                    est sunt ducimus nulla deleniti! Tempora minus error accusantium accusamus sunt libero veritatis
                    ab velit, omnis eos laudantium.</p>
                <!-- <button type="submit">Learn More</button> -->
            </div>
            <div class="relat">
                <div class="img-1-5 abs"></div>
                <div class="img-2-5 abs">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        xml:space="preserve" class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px"
                        id="svg-3be9" style="enable-background:new 0 0 160 160;">
                        <path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30 M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80
                s80-35.8,80-80S124.2,0,80,0L80,0z"></path>
                    </svg>
                </div>
                <div class="img-3-5 abs">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        xml:space="preserve" class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px"
                        id="svg-3be9" style="enable-background:new 0 0 160 160;">
                        <path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30 M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80
                    s80-35.8,80-80S124.2,0,80,0L80,0z"></path>
                    </svg>
                </div>
                <div class="img-4-5 abs"></div>
                <div class="img-5-5 abs"></div>
            </div>
        </div>
    </section>