   <!-- Block 2 -->
   <section>
    <div class="block2">
        <h1>Parcours  Académiques </h1>
        <h5> Simple Text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id suscipit ex.
            Suspendisse rhoncus laoreet purus quis elementum.</h5>
        <div class="f">
            <div class="card">
                <img src="../../../../../assets/images/1435715-bda8914b.png" alt="">
                <h2>DTS</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, odio!</p>
            </div>
            <div class="card">
                <img src="../../../../../assets/images/1175966-c5c6d603.png" alt="">
                <h2>LICENCE</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, odio!</p>
            </div>

            <div class="card">
                <img src="../../../../../assets/images/1940690-85741ef2.png" alt="">
                <h2>MASTER</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, odio!</p>
            </div>
            <div class="card">
                <img src="../../../../../assets/images/1940690-85741ef2.png" alt="">
                <h2>MASTER</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, odio!</p>
            </div>
        </div>
    </div>
</section>