/* BLOG2 */
.f{
    display: flex;
    flex-wrap: wrap;
}
.between{
    justify-content: space-between;
}
.relat{
    position: relative;
}
.abs{
    position: absolute;
}
.block2 {
    text-align: center;
    margin-top: 400px;
    color: #ffffff;
    background-color: #db545a;
    padding: 100px;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

.block2 h1 {
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.1;
    padding: 30px 0;

}

.block2 h5 {
    font-size: 1.25rem;
    font-weight: lighter;
    margin: 20px auto 0;
    max-width: 1000px;
}

.block2 .f .card {
    background-color: aliceblue;
    color: black;
    margin: 20px;
    height: 50vh;
    border-radius: 5px;
    width: 250px;
    margin: auto;
    margin-top: 40px;
}

.block2 .f .card img {
    background-color: #db545a;
    border-radius: 50%;
    padding: 10px;
    width: 100px;
    margin: auto;
    margin-top: 20px;
}

.block2 .f .card h2 {
    padding-top: 20px;
}

.block2 .f .card p {
    padding-top: 20px;
}



