 <!-- Block 4 -->
 <section>
    <div class="block-4 f">
        <div class="l">
            <h2>Liste des Etudiant</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae eos autem perspiciatis
                itaque, voluptatibus totam deleniti quidem at quod quis.</p>
            <button><a routerLink="/listeEtud" >Etudiants</a></button>
        </div>
        <div class="l">
            <h2>Liste Matiere</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis omnis obcaecati voluptatem eum
                alias adipisci dicta voluptatibus ipsa vitae quam.</p>
            <button><a routerLink="/listeMat" >Matiere</a></button>
        </div>
    </div>
</section>